{% extends "layout.html" %}

{% block bodytxt %}
    <div class = 'container-mt-5'>
        <h2 class='text-center'>Add a Question</h2>
        <form method = 'POST' action="">
            {% csrf_token %}

            <div class='form-group'>

                {{form.text.label_tag}}
                {{form.text|as_crispy_field}}

            </div>

            <button type = 'submit' class='btn btn-primary'> Save Question </button>
            <a href="{% url "question_list" %}" class='btn btn-primary'> Cancel </a>
        </form>
    </div>
{% endblock %}